body {
    font-family: "italic, sans-serif";
    margin: 0; 
    padding: 0;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

}
@keyframes fadeIn{
    0% {
        opacity: 0; /* Start fully transparent */
        transform: scale(1); /* Start smaller for pop-in effect */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

.toolbar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding-top: 100px;
    background: linear-gradient(to bottom, white,black);
}

.toolbar-link, .exit-link, .Home-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    cursor: pointer;
    animation:fadeIn 7s ease-out; 
}
.toolbar-link:hover, .Home-link:hover {
    text-decoration: underline;
}

.exit-link {
    color: white; 
    text-decoration: none; 
    font-size: large; 
    font-weight: bold; 
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease; 
    padding-left: 50px; 
}

.exit-link:hover {
    color: darkred; /* Darker red on hover */
    text-decoration: underline; 
}